.addToCart-container{
    width: fit-content;
    margin-left: 3.8rem;
    margin-top: 4px;

}
.toggle{
    margin-left: 1.7rem;
}
@media screen and (max-width:740px) {
    .addToCart-container{
      /* border: 1px solid green; */
      margin: auto;
    }
    .btn{
        padding: .4rem 1rem;
    }
}


