@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');


body {
  background: #f1f1f1;
  height: 100vh;
  /* position: relative; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

.btn {
  background-color: #00264d;
  font-family: 'Outfit', sans-serif;
  color: #f4f4f4;
  padding: .5rem 1.5rem;
  margin-top: 1.5rem;
  border-radius: 10px;
  font-size:medium;
}

.page_loading {
  position: absolute;
  height: 15px;
  width: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(75deg);
}

.page_loading::before,
.page_loading::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  animation: loading 1.5s infinite linear;
}

.page_loading::before {
  box-shadow: 15px 15px #ff4d24, -15px -15px #4d68ef;
}

.page_loading::after {
  box-shadow: 15px 15px #df4178, -15px -15px #fbc144;
  transform: translate(-50%, -50%) rotate(90deg);
}

@keyframes loading {
  50% {
    height: 45px;
  }
}